* {
	margin: 0;
	padding: 0;
}
body {
	color: #D7DADF;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
}
/* Header Start */
header{
	background-color: #121B2A;
	padding: 5px 0px;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.logo {
	width: 15%;
	float: left;
}
.logo img{
	width: 100%;
}
.menu {
	width: 70%;
	float: right;
}
.menu ul {
	float: right;
	list-style: none;
}
.menu ul li {
	float: left;
}
.menu ul li a {
	text-decoration: none;
	color: #D7DADF;
	padding: 5px 15px;
	display: block;
	transition: 0.5s;
	margin-top: 25px;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li:hover a {
	color: #0878BE;
}
/* Header End */

/* Banner Start */
.banner {
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-background-size: cover;
	background-size: cover;
}
.banner-content {
	width: 45%;
	margin-top: 200px;
	margin-bottom: 50px;
}
.banner-content h3 {
	font-size: 28px;
}
.banner-content h1 {
	color: #0878BE;
	font-size: 38px;
}
.banner-content p {}
.banner-content button {
	font-size: 20px;
	border: none;
	border-radius: 8px;
	padding: 8px 15px;
	margin-top: 10px;
	transition: 0.5s;
	cursor: pointer;
}
.banner-content button i {
	color: #0878BE;
	font-size: 25px;
	margin-left: 8px;
}
.banner-content button:hover {
	color: #fff;
	background-color: #0878BE;
}
.banner-content button i:hover {
	color: #fff;
}
/* Banner End */

/* Service Start */
.service {
	background-color: #121B2C;
	padding: 50px 0px;
}
.single-service {
	width: 30%;
	padding: 10px 20px;
	float: left;
	border-right: 1px solid #1A2430;
	margin-left: 5px;
}
.single-service:first-child {
	padding-left: 0px;
}
.single-service:last-child {
	border-right: none;
	padding-right: 0px;
}
.title {
	overflow: hidden;
}
.icon {
	width: 25%;
	float: left;
}
.icon img {
	width: 100%;
}
.icon-content {
	width: 65%;
	float: left;
	margin-top: 10px;
}
.h1-common {
	font-size: 20px;
	text-transform: capitalize;
}
.sp-common {
	color: #0878BE;
}
.single-service:last-child h1 {
	padding-top: 30px;
}
.content {}
.content p {}
/* Service End */

/* Address Start */
.address {
	background-color: #040811;
	padding: 30px 0;
}
.single-address, .box {
	width: 29%;
	float: left;
	padding: 10px 20px;
	position: relative;
}
.single-address:first-child {
	padding-left: 0px;
	padding-top: 30px;
}
.single-address:last-child {
	padding-right: 0px;
}
.add-title {
	overflow: hidden;
}
.add-content {}
.add-content p {
	padding-top: 15px;
}
table {
	width: 100%;
}
td {
	padding-top: 15px;
}
.add-content table tr td:last-child {
	padding-left: 25px;
}
.content-a {
	background-color: #0C1019;
	padding: 20px;
	border-radius: 5px;
}
.box:after {
	content: '';
	display: block;
	width: 0px;
	height: 0px;
	border-top: 10px solid #0C1019;
	border-bottom: 15px solid transparent;
	border-left: 30px solid #0C1019;
	border-right: 30px solid transparent;
	position: absolute;
	left: 65%;
	top: 74%;
}
.single {
	padding-left: 20px;
}
.add-img {
	width: 45%;
	float: left
}
.add-img img {
	width: 100%;
}
.add-title img {
	width: 100%;
}
.single-address-right{
	width: 50%;
	float: left;
	margin-left: 5%;
}
/* Address End */

/* Footer Start */
.footer {
	background-color: #121B2C;
	padding-top: 20px;
	padding-bottom: 30px;
}
.footer-left {
	width: 60%;
	float: left;
}
.footer-left ul {
	overflow: hidden;
}
.footer-left ul li {
	list-style: none;
	float: left;
}
.footer-left ul li a {
	text-decoration: none;
	color: #D7DADF;
	font-size: 14px;
	padding: 0px 15px;
	display: block;
	border-right: 1px solid #fff;
	transition: .5s;
}
.footer-left ul li:first-child a {
	padding-left: 0px;
}
.footer-left ul li:last-child a {
	padding-right: 0px;
	border-right: 0px;
}
.footer-left ul li:hover a {
	color: #0878BE;
}
.footer-left p {
	padding-top: 10px;
	font-size: 14px;
}
.footer-right {
	width: 30%;
	float: right;
	overflow: hidden;
}
.footer-logo {
	width: 30%;
	float: right;
	padding-left: 20px;
}
.footer-logo img {
	width: 100%;
}
/* Footer End */